body {
  padding-top: 4rem;
  padding-bottom: 1.25rem;
}

@media only screen
  and (max-width: 394px) {
  body {
    padding-top: 6.25rem;
  }
}


header.is-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
  background-color: #00d1b2;
  min-height: 3.25rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  width: 100%;
}

footer.is-fixed {
  padding: 1rem 1.5rem 1rem 1.5rem;
  width: 100%;
  background-color: #00d1b2;
  z-index: 30;
  position: fixed;
  bottom: 0;
}

.messages-list {
  padding-bottom: 0;
}

.message-container {
  display: flex;
  padding-bottom: 1rem;
}

.avatar-container {
  margin-right: 0.5rem;
}

.avatar {
  border-radius: 3px;
}

.username {
  margin-right: 0.5rem;
}

.timestamp {
  font-size: 12px;
  color: #717274;
}

.new-message {
  border: 2px solid #717274;
  border-radius: 0.375rem;
}
